Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
D:\Programs\Repos\TestingGround\Content\Dynamic\Levels\FirstPersonExampleMap_BuiltData.uasset